<div class="book-summary">
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% assign init_post == null %}

            {% for category in site.category_list %}
                {% for post in site.posts %}
                    {% if post.category == category %}
                        {% assign init_post = post %}
                    {% endif %}
                {% endfor %}

                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{init_post.url}}">
                    <a href="{{site.baseurl}}{{init_post.url}}">
                        [{{ category | escape }}]
                    </a>
                    {% if page.url == init_post.url %}
                        {% for post in site.posts %}
                            {% if category == post.category %}
                                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                                    <a href="{{site.baseurl}}{{post.url}}">
                                        {{ post.title | escape }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>